<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
						http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

	<persistence-unit name="PersistenceUnitFinance"
		transaction-type="JTA">
		<class>com.m4gik.business.model.Finance</class>
		<properties>
			<property name="hibernate.transaction.manager_lookup_class"
				value="com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup" />
			<property name="hibernate.transaction.factory_class"
				value="org.hibernate.transaction.CMTTransactionFactory" />
		</properties>
	</persistence-unit>

	<persistence-unit name="PersistenceUnitWarehouseFinland"
		transaction-type="JTA">
		<class>com.m4gik.business.model.WarehouseFinland</class>
		<properties>
			<property name="hibernate.transaction.manager_lookup_class"
				value="com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup" />
			<property name="hibernate.transaction.factory_class"
				value="org.hibernate.transaction.CMTTransactionFactory" />
		</properties>
	</persistence-unit>

	<persistence-unit name="PersistenceUnitWarehousePoland"
		transaction-type="JTA">
		<class>com.m4gik.business.model.WarehousePoland</class>
		<properties>
			<property name="hibernate.transaction.manager_lookup_class"
				value="com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup" />
			<property name="hibernate.transaction.factory_class"
				value="org.hibernate.transaction.CMTTransactionFactory" />
		</properties>
	</persistence-unit>

</persistence>
